header {
  background: #242526;
  padding: 15px 0;
  margin-bottom: 20px;
  @media (max-width: 490px) {
    padding: 10px 0;
  }
}

.head-wrapper > a {
  font-size: 24px;
  font-weight: 500;
}

.head-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  padding: 0 15px;
  margin: 0 auto;
  
  @media (max-width: 490px) {
    max-width: 90vw;
  }
}
