@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@media (max-width: 490px) {
  li { font-size: 14px; }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--color);
} 

body {
  background: var(--background-color);
  height: 100vh;
  --header-color: #242526;
  --background-color: #18191A;
  --color: #fff;
  --input-border: #c3bfbf;
  --background-alpha1: rgba(0, 0, 0, 0.493);
  --background-alpha2: rgba(0, 0, 0, 0.5);
  --shadows-main: none;
  --header-line: none;
}

[data-light-mode] {
  --color: #000;
  --background-color: #fff;
  --header-color: transparent;
  --background-alpha1: transparent;
  --background-alpha2: #e0e0ec;
  --shadows-main: 0 4px 15px rgba(0,0,0,.4);
  --header-line: block;
}

a, a:visited {
  color: var(--color);
  text-decoration: none;
}

.flex-justify-content {
  display: flex;
  justify-content: center;
}

.flex-align {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.code .weather-option {
  margin-right: 0;
}