main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.main-content {
  width: 770px;
  height: 560px;
  display: flex;
}

.city-photo {
  width: 50%;
  background-color: gray;
}

.info {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.493);   
  width: 50%;
}

.search {
  display: flex;
  align-items: center;
  width: 355px;
  height: 56px;
  position: relative; /* Сверстать импут через позишн абсолют */
}

input {
  width: 293px;
  height: 34px;

}
